/****RESET********/ 

body { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Oswald', sans-serif;  
    background-color: rgb(139, 139, 226); 
} 
/*****************/ 

/*********VARIABLES*******/ 
:root { 
    --color-head: rgb(197, 160, 233)
}
/*************************/

/******BASE*******/ 
header { 
    display: flex; 
    flex-flow: column; 
    align-items: center; 
    justify-content: center; 
    
    margin-bottom: 2rem;
    margin-top: 0.5rem;

    width: 50%;

    top: 0;
    background: var(--color-head);

    padding: 1rem; 

    border: black solid
}   

body, main, .body, #about{ 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-flow: column;
} 

.geral{ 
    position: relative;
    width: 100%;

    display: flex; 
    flex-flow: column; 
    align-items: center; 
    justify-content: center; 

    margin-bottom: 2rem;

}  

.container{ 
    width: 70%; 
    padding: 1rem;
    border: black solid; 

    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-flow: column; 

    background-color: rgb(175, 117, 230);  

    margin-bottom: 2rem;
} 

.topics { 
    width: 23.45rem; 
    font-size: 1rem;;
} 

/**********HEADER**********/
#container-logo { 
    width: 5rem; 
}

header div .icon-computer-svgrepo-com { 
    font-size: 5rem; 
    color:rgb(90, 90, 235)
} 
/***************************/ 

/*********BODY*************/ 
.body { 
    visibility: hidden; 
    opacity: 0; 
    height: 250px
}
/**************************/


/**********IMAGE***********/
.image { 
    width: fit-content; 
    display: flex; 
    justify-content: center; 
    border-radius: 100%;
    border: black solid
} 

.image img { 
    width: 15rem; 
    height: 15rem;
    margin: 0; 
    border-radius: 100%;
} 
/**************************/

/************ABOUT*************/

#about { 
    text-align: justify; 
    margin-top: 2rem;
    
    display: none;

    transition: 0.5s; 

    gap: 1.5rem; 
}  

#about.show { 
    visibility: visible; 
    opacity: 1; 
    width: 80%;  

    display: flex;
}
/*****************************/

/**********DIVIDER************/
.divider { 
    width: 70%; 
    height: 2px; 
    background: white; 
    opacity: 0.3;
} 
/*****************************/ 

/**********BUTTON************/ 
.button { 
    border: black solid; 
    border-radius: 100%; 

    width: 1.5rem; 
    height: 1.5rem;

    padding: .5rem; 

    background: var(--color-head); 

    margin-bottom: 1rem; 

    cursor: pointer;

    transition: 0.5s;
}

.button i { 
    font-size: 1.5rem;
} 

.button:hover { 
    background-color: rgb(175, 117, 230)
}
/****************************/

/****RESPONSIVE*****/ 

@media screen and (min-width: 800px) { 
    /*****HEADER RESPONSIVE*****/
    header { 
        width: 90%; 
        flex-flow: row;

        gap: 1.5rem;
    } 

    header div .icon-computer-svgrepo-com { 
        font-size: 3rem; 
        color:rgb(90, 90, 235)
    } 

    /*******BODY**********/ 

    .geral { 
        flex-flow: row;
        gap: 2rem;
    }

    .container{ 
        padding: 1rem; 
        margin: 2rem;
    } 


    .geral .container{ 
        height: 29.488125rem;
    } 
} 